<div id="pokemonMap" class="card sortable border-secondary mb-3" data-bind="visible: App.game.breeding.canAccess()">
  <div class="card-header p-0" data-toggle="collapse" href="#eggList">
      <span>Party</span>
  </div>
  <button class='btn btn-sm btn-primary' style="position: absolute; right: 0px; top: 0px; width: auto; height: 41px;"
          data-bind='click: function(){ PartySlotController.openPartySlotModal() }'>
      List
  </button>
  <style>
    .mult {
        position: relative;
        left: -10;
        top: 20;
    }
  </style>
  <div id='pokemonMap' class="card-body p-0 show">
    <div class="row m-0" data-bind="foreach: App.game.breeding.eggList">
      <div class="col-4 col-4 p-0 eggSlot">
        <div class="content">
          <!-- ko ifnot: $data.isNone() -->
          <div style="margin-top: 20px;" class="clickable" data-bind="click: function(){ if (progress() >= 100) App.game.breeding.hatchPokemonEgg($index()) }">
              <!-- ko ifnot: $data.type == EggType.Fossil -->
              <div data-bind='attr: {src: PartySlotController.getPokemonImage($data.id)}'>
                  <img data-bind="attr:{ src: PartySlotController.getPokemonImage($data.pokemon) }">
                  <span class="mult" style="left: -10px;top: 22px;" data-bind="text: PartySlotController.getPokemonMultiplier($data.pokemon)">attack</span>
              </div>
              <!-- /ko -->
          </div>
          <!-- /ko -->
        </div>
      </div>
    </div>
  </div>
</div>
